@use "abstracts.scss" as *;

.testimonials {
  @extend %container;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-up(large) {
    padding: 168px 0;
  }

  h2 {
    padding-bottom: 80px;
    color: $grayish-blue;
    font-size: rem(18);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include breakpoint-up(large) {
      font-size: rem(22);
      letter-spacing: 4px;
    }
  }

  .client-comments {
    display: flex;
    flex-direction: column;
    gap: 88px;

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: center;
      gap: 56px;
    }

    @include breakpoint-up(xxlarge) {
      gap: 80px;
    }

    .client {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }

    img {
      width: 80px;
      border-radius: 50%;
    }

    .comment {
      max-width: 360px;
      color: $very-dark-grayish-blue;
      line-height: 1.7;
    }

    .author {
      p:nth-child(1) {
        color: $very-dark-desaturated-blue;
        font-family: "Fraunces", sans-serif;
        font-weight: 900;
        margin-bottom: 12px;
      }

      p:nth-child(2) {
        color: $grayish-blue;
        font-size: rem(16);

        @include breakpoint-up(xlarge) {
          font-size: rem(17);
        }
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    object-fit: cover;
    max-height: 512px;
    width: 100%;
  }
}
